.form-group {
  display: grid;
}

form-group > input {
  width: 15rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  border: 1px solid grey;
  border-radius: 2px;
}

form-group > .landing-signin-btn {
  padding: 0.5rem 7rem;
}
